extends layout

block content
  h1= title

  p Welcome to #{title}

  each message in messages
     p #{message.text} 
     h5 #{message.user}
     p #{message.added}
       
  else 
    p No message added
