extends layout

block content
  h1= title

  p.title Welcome to #{title}
  a.newMessageLink(href='/new') Add a new message here...

  h2.messagesTitle Messages:

  each message in messages
    div.messageDiv
      p #{message.text} 
      h5 #{message.user}
      h6 #{message.added}
       
  else 
    p No message added
